.container {
	display: grid;
	grid-template-columns: 250px 250px 250px 250px 250px;
	grid-template-rows: repeat(3, 115px);
	grid-gap: 10px;
	grid-template-areas: "img-1 img-1 img-6 img-7 img-8"
						 "img-2 img-3 img-6 img-9 img-10"
						 "img-4 img-5 img-6 img-11 img-12"
}

.image {
	width: 100%;
	height: 100%;
}

.item-1 {
	grid-area: img-1;
}

.item-2 {
	grid-area: img-2;
}

.item-3 {
	grid-area: img-3;
}

.item-4 {
	grid-area: img-4;
}

.item-5 {
	grid-area: img-5;
}

.item-6 {
	grid-area: img-6;
}

.item-7{
	grid-area: img-7;
}

.item-8 {
	grid-area: img-8;
}

.item-9 {
	grid-area: img-9;
}

.item-10 {
	grid-area: img-10;
}

.item-11 {
	grid-area: img-11;
}

.item-12 {
	grid-area: img-12;
}